In [1]:
import csv
import sqlite3

In [8]:
with open('d:/student_info.csv', 'r') as f:
    dr = csv.DictReader(f)
    student_info = [(i['NAME'], i['AGE']) for i in dr] 
    print(student_info)

[('Ram', '12'), ('Shyam', '14'), ('Bheem', '17'), ('Arjun', '25'), ('Nakul', '23')]

In [18]:
conn = sqlite3.connect('d:/sql_import.db')

In [19]:
cursor = conn.cursor()

In [20]:
cursor.execute('create table student(name varchar2(10), age int);')

In [21]:
cursor.executemany('insert into student(name, age) VALUES (?, ?);', student_info)

In [22]:
cursor.execute('select * from student;')

In [23]:
result=cursor.fetchall()

In [24]:
print(result)

[('Ram', 12), ('Shyam', 14), ('Bheem', 17), ('Arjun', 25), ('Nakul', 23)]